body {
  font-size: 16px;
}



h2 {
  font-family: "league-gothic",sans-serif;
}

h3 {
  font-family: "league-gothic", sans-serif;
}


.headText {
  color: #ecf0f1;
  text-shadow: #001133 1px 5px 22.5px;
  font-size: 6.25rem;
  position: absolute;
  top: 15.625rem;
  left: 3.125rem;
}

.headUpperName {
  color: #ecf0f1;
  text-shadow: #001133 1px 5px 22.5px;
  position: absolute;
  top: 3rem;
  left: 3.125rem;
  font-size: 4.125rem;
}

.headLowerProj {
  position: absolute;
  top: 22.625rem;
  left: 3.125rem;

}

.headLowerSocial {
  position: absolute;
  top: 22.625rem;
  left: 15.125rem;
}

#outLink {
  color: #ecf0f1;
  text-shadow: #001133 1px 5px 22.5px;
  font-size: 3.125rem;
  cursor: pointer;
  transition: color .5s;
}

#outLink:hover {
  color: #c3c8c9;
  transition: color .5s;
}


