h2 {
  font-family: 'league-gothic', sans-serif;
  font-size: 4.125rem;
  color: #ecf0f1;
  text-shadow: #001133 1px 5px 22.5px;
  transition: color .5s;
}

#ghLink {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#liLink {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2:hover {
  color: #c3c8c9;
  transition: color .5s;
}

#homeLink {
  position: absolute;
  top: 5rem;
  left: 4rem;
  text-decoration: none;
  font-size: 3.125rem;
}
