nav {
  background-color: rgb(191, 202, 210);
  height: 5rem;
  z-index: 3;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 2.8125rem;
  color: #ecf0f1;
}

.headerBG {
  width: 100%;
  /* position: relative;
  top: -100px; */
  z-index: -1;
  display: block;
}

.mainName {
  float: left;
  margin-top: 0.9375rem;
  margin-left: 0.9375rem;
  text-shadow: #001133 1px 1px 5.5px;
}
