h3 {
  font-family: 'Work Sans', sans-serif;
  color: #ecf0f1;
  font-size: 2rem;
  text-shadow: #001133 1px 1px 5.5px;
  margin-top: 10rem;
}


.leftHeadline {
  position: absolute;
  top: 3rem;
  left: 4rem;
}

p {
  font-family: 'Work Sans', sans-serif;
  color: #ecf0f1;
  font-size: 1.2rem;
  text-shadow: #001133 1px 1px 5.5px;
  line-height: 1.4rem;
  margin-top: 10rem;
}

.leftDesc {
  position: absolute;
  top: 6rem;
  left: 4rem;
  margin-right: 3rem;
}

.rightHeadline {
  position: absolute;
  top: 15rem;
  left: 4rem;
}

.rightDesc {
  position: absolute;
  top: 18rem;
  left: 4rem;
  margin-right: 3rem;
}

#outLink {
  cursor: pointer;
  transition: color .5s;
}

#outLink:hover {
  color: #c3c8c9;
  transition: color .5s;
}

h2 {
  font-family: 'league-gothic', sans-serif;
  color: #ecf0f1;
  text-shadow: #001133 1px 5px 22.5px;
  font-size: 3.125rem;
  cursor: pointer;
  transition: color .5s;
  position: absolute;
  top: 5rem;
  left: 4rem;
}

h2:hover {
  color: #c3c8c9;
  transition: color .5s;
}

a {
  text-decoration: none;
}
